.margin{
    margin-bottom: 40px;
}
.list{
    display: block;
    margin: auto;
}
.list ul li{
display: inline-block;
width: 40px;
height: 40px;
margin-right: 15px;


background-color: var(--main-color);
color: #fff;
text-align: center;
}